* {
    direction: rtl;
    box-sizing: border-box;
    font-family: 'IranianSansRegular';
}
body {
    background-color: #eee;
}
a {
    text-decoration: none;
}
i {
    color: #385E9D;
}
.container {
    width: 1300px;
    margin: 0 auto;
    position: relative;
}
/* header */
.header {
    top: 0;
    right: 0;
    position: absolute;
    min-width: 100%;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.281);
}
/* nav top */
.nav-top {
    background-color: #385E9D;
    padding: 5px;
    text-align: left;
}
.nav-top a {
    font-size: 12px;
    font-weight: bold;
    padding: 0 5px;
    color: white;
    border-right: 1px solid #FFB81C;

}
.nav-top a:first-of-type {
    color: #FFB81C;
    border-right: none;
}
.nav-top a:hover {
    color: #FFB81C;
}
/* nav main */
.nav-main {
    background-color: #FFF;
}
.nav-main div {
    padding: 6px;
}
/* logo */
.logo {
    display: inline-block;
}
.logo *:hover{
    cursor: pointer;
}
.logo img {
    width: 100px;
}
.logo * {
    vertical-align: middle;
}
.logo i {
    font-size: 15px;
    margin-right: 15px;
}
/* main links */
.main-links {
    display: inline-block;
    position: absolute;
    width: 750px;
    right: calc(50% - 375px);
}
.main-links a {
    border-right: 1px solid rgb(185, 185, 185);
    padding-right:5px;
    font-size: 12px;
    font-weight: bold;
    color: #385E9D;
}
.main-links a:first-of-type {
    border-right: none;
}
.main-links a i {
    font-size: 13px;
    padding-bottom: 4px;
}
.main-links a:hover {
    cursor: pointer;
    color: #FFB81C;
}
/* search */
.search {
    display: inline-block;
    position: absolute;
    left: 20px;
}
.search i {
    vertical-align: middle;
    padding: 2px;
}